name: microservices-dev-fqc

services:
  # BASES DE DATOS
  # ==========================================================

  # 1. DB User
  postgres-user-dev:
    image: postgres:15-alpine
    ports:
      - "5432:5432"
    container_name: postgres-user-dev

    environment:
      POSTGRES_DB: userdb
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    volumes:
      - postgres-user-dev-data:/var/lib/postgresql/data
    networks:
      - microservice-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d userdb"]
      interval: 10s
      timeout: 5s
      retries: 5
    restart: unless-stopped

  # 2. DB Product
  postgres-product-dev:
    image: postgres:15-alpine
    ports:
      - "5433:5432"
    container_name: postgres-product-dev
    environment:
      POSTGRES_DB: productdb
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    volumes:
      - postgres-product-dev-data:/var/lib/postgresql/data
    networks:
      - microservice-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d productdb"]
      interval: 10s
      timeout: 5s
      retries: 5
    restart: unless-stopped

  # 3. DB Order
  postgres-order-dev:
    image: postgres:15-alpine
    ports:
      - "5434:5432"
    container_name: postgres-order-dev
    environment:
      POSTGRES_DB: orderdb
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    volumes:
      - postgres-order-dev-data:/var/lib/postgresql/data
    networks:
      - microservice-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d orderdb"]
      interval: 10s
      timeout: 5s
      retries: 5
    restart: unless-stopped

  # 4. DB Auth
  postgres-auth-dev:
    image: postgres:15-alpine
    ports:
      - "5435:5432" # Siguiente puerto disponible
    container_name: postgres-auth-dev
    environment:
      POSTGRES_DB: auth_db
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    volumes:
      - postgres-auth-dev-data:/var/lib/postgresql/data
    networks:
      - microservice-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d auth_db"]
      interval: 10s
      timeout: 5s
      retries: 5
    restart: unless-stopped

  # MICROSERVICIOS
  # ==========================================================

  #  User Service Dev
  user-service-dev:
    image: francoqueirolo/user-service:1.0.0-dev
    build:
      context: ../m6-sbp-c05-micro-user-service
      dockerfile: Dockerfile
    container_name: user-service-dev
    ports:
      - "8081:8081"
    environment:
      - SPRING_PROFILES_ACTIVE=dev
      - SPRING_APPLICATION_NAME=user-service
      - SPRING_DATASOURCE_URL=jdbc:postgresql://postgres-user-dev:5432/userdb
      - SPRING_DATASOURCE_USERNAME=${DB_USER}
      - SPRING_DATASOURCE_PASSWORD=${DB_PASSWORD}
    depends_on:
      postgres-user-dev:
        condition: service_healthy
    networks:
      - microservice-network
    restart: unless-stopped

  #  Product Service Dev
  product-service-dev:
    image: francoqueirolo/product-service:1.0.0-dev
    build:
      context: ../m6-sbp-c05-micro-product-service
      dockerfile: Dockerfile
    container_name: product-service-dev
    ports:
      - "8082:8082"
    environment:
      - SPRING_PROFILES_ACTIVE=dev
      - SPRING_APPLICATION_NAME=product-service
      - SPRING_DATASOURCE_URL=jdbc:postgresql://postgres-product-dev:5432/productdb
      - SPRING_DATASOURCE_USERNAME=${DB_USER}
      - SPRING_DATASOURCE_PASSWORD=${DB_PASSWORD}
        # URLs para comunicación entre MS
      - USER_SERVICE_URL=http://user-service-dev:8081
    depends_on:
      postgres-product-dev:
        condition: service_healthy
      user-service-dev:
        condition: service_started # Product usa User
    networks:
      - microservice-network
    restart: unless-stopped

  # 3. Order Service
  order-service-dev:
    image: francoqueirolo/order-service:1.0.0-dev
    build:
      context: ../m6-sbp-c05-micro-order-service
      dockerfile: Dockerfile
    container_name: order-service-dev
    ports:
      - "8083:8083"
    environment:
      - SPRING_PROFILES_ACTIVE=dev
      - SPRING_APPLICATION_NAME=order-service
      - SPRING_DATASOURCE_URL=jdbc:postgresql://postgres-order-dev:5432/orderdb
      - SPRING_DATASOURCE_USERNAME=${DB_USER}
      - SPRING_DATASOURCE_PASSWORD=${DB_PASSWORD}
      # URLs para comunicación entre MS
      - USER_SERVICE_URL=http://user-service-dev:8081
      - PRODUCT_SERVICE_URL=http://product-service-dev:8082
    depends_on:
      postgres-order-dev:
        condition: service_healthy
      user-service-dev:
        condition: service_started # Order usa User
      product-service-dev:
        condition: service_started # Order usa Product
    networks:
      - microservice-network
    restart: unless-stopped

  # Auth Service Dev
  auth-service-dev:
    image: francoqueirolo/auth-service:1.0.0-dev
    build:
      context: ../auth-service
      dockerfile: Dockerfile
    container_name: auth-service-dev
    ports:
      - "9000:9000"
    environment:
      - SPRING_PROFILES_ACTIVE=dev
      - SPRING_APPLICATION_NAME=auth-service
      - SPRING_DATASOURCE_URL=jdbc:postgresql://postgres-auth-dev:5432/auth_db
      - SPRING_DATASOURCE_USERNAME=${DB_USER}
      - SPRING_DATASOURCE_PASSWORD=${DB_PASSWORD}
      - JWT_SECRET=${JWT_SECRET}
      - JWT_EXPIRATION=${JWT_EXPIRATION}
    depends_on:
      postgres-auth-dev:
        condition: service_healthy
    networks:
      - microservice-network
    restart: unless-stopped

  # Config Server
  config-server-dev:
    image: francoqueirolo/config-server:1.0.0-dev
    build:
      context: ../config-server # Ajusta la ruta a tu carpeta
      dockerfile: Dockerfile
    container_name: config-server-dev
    ports:
      - "8084:8084"
    environment:
      - SPRING_PROFILES_ACTIVE=git
      - SPRING_CLOUD_CONFIG_SERVER_GIT_URI=https://github.com/fqc-ecommerce/config-repo
      - SPRING_CLOUD_CONFIG_SERVER_GIT_SEARCH_PATHS={application} # Esto le dice que busque por nombre de app
      - SPRING_CLOUD_CONFIG_SERVER_GIT_DEFAULT_LABEL=main
    networks:
      - microservice-network
    healthcheck:
      test: ["CMD-SHELL", "curl -f --user admin:admin http://localhost:8084/actuator/health || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 5

  # API Gateway
  api-gateway-dev:
    image: francoqueirolo/api-gateway:1.0.0-dev
    build:
      context: ../api-gateway # Ajusta la ruta a tu carpeta
      dockerfile: Dockerfile
    container_name: api-gateway-dev
    ports:
      - "8080:8080"
    # En tu docker-compose.yml, dentro de api-gateway-dev:
    environment:
      - SPRING_PROFILES_ACTIVE=dev
      - SPRING_CLOUD_CONFIG_URI=http://admin:admin@config-server-dev:8084
      - SPRING_CONFIG_IMPORT=optional:configserver:http://admin:admin@config-server-dev:8084
    depends_on:
      config-server-dev:
        condition: service_healthy
      auth-service-dev:
        condition: service_started
    networks:
      - microservice-network

# REDES Y VOLÚMENES
# ==========================================================

networks:
  microservice-network:
    driver: bridge

volumes:
  postgres-user-dev-data:
    driver: local
  postgres-product-dev-data:
    driver: local
  postgres-order-dev-data:
    driver: local
  postgres-auth-dev-data:
    driver: local
